@charset 'utf-8';
/*reset*/
*{ margin:0px; padding:0px}
ul,ol,li{ list-style:none; }
a{text-decoration:none; }
/* 
flex-direction 정렬방향 row/column /row-reverse /column-reverse
*/
main{
  width: 100%; height: 100vh;  background: lightblue;
}
.box1{
  width: 100%; height: 100%; 
  border:10px solid #000; 
  display: flex;
  /* display: inline-flex; */ 
  /* flex-direction: row;
  flex-wrap:wrap; */
  flex-flow:row wrap; 

  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;

  /* align-items:center;  */
  align-content:center; 
}
.box1 article{
  width: 100px; height: 100px; 
  background: aqua; 
  border: 1px solid #000;
}
/* order 속성  */
.box1 article:nth-of-type(1){
order:5; 
}
.box1 article:nth-of-type(2){
  order:3; 
}
.box1 article:nth-of-type(3){
  order:1; 
}
.box1 article:nth-of-type(4){
  order:2; 
}
.box1 article:nth-of-type(5){
  order:4
}

/* flex-grow 속성 */
.box2{
  width: 100%; 
  background: pink;
  display:flex; 
}
.box2 article{
  border: 1px solid #000;
  box-sizing: border-box;
  background: aqua;
  font-size: 50px;
  color: #fff; 
  flex-grow:1; 
}
.box2 article:nth-of-type(1){ flex-grow:2; }
.box2 article:nth-of-type(2){ flex-grow: 2;}
.box2 article:nth-of-type(3){ flex-grow:1; }

/* flex-shrink */
.box3{
  width: 100%; 
  background: lightgreen;
  display:flex;
}
.box3 article{
  width: 400px; 
  background: hotpink;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 50px;
  color: #fff; 
}
.box3 article:nth-of-type(1){flex-shrink:1; }
.box3 article:nth-of-type(2){flex-shrink:2; }
.box3 article:nth-of-type(3){ flex-shrink:3;}

/* flex:grow shrink basis */
.box4{
  width: 100%; 
  background: lightcyan;
  display:flex;
}
.box4 article{
  width: 400px; 
  background: hotpink;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 50px;
  color: #fff; 
}
.box4 article:nth-of-type(1){  flex:1; }
.box4 article:nth-of-type(2){  flex:2; }
.box4 article:nth-of-type(3){  flex:3; }
