@charset 'utf-8';

*{
	margin: 0;
	padding: 0;
}

ul,ol,li{
	list-style: none;
}	

a{
	text-decoration: none;
}



/* 
풀스크린으로 색션 5개 만들기
각 섹션마다 배경이미지 꽉 차게 넣기
background-image
background-position
back ground-repeat
background-attchment : scroll /fixed-fixed 요소에 배경이미지가 붙어있는듯한 효과

background-size
- contain 여백이 남더라도 배경이미지를 자르지 않고 프레임안에 채워서 넣어줌
- cover 배경이미지를 자를지라도 여백이 없도록 프레임안에 꽉채워서 넣어줌
*/


section{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.box1{
	background-image: url(pic1.jpg);
}

.box2{
	background-image: url(pic2.jpg);
}

.box3{
	background-image: url(pic3.jpg);
}

.box4{

	background-image: url(pic4.jpg);
}

.box5{
	background-image: url(pic5.jpg);

}